<div class="p-4">
    <h4 class="fst-italic">
        <ol class="list-unstyled md-0">
            <li>
                <a class="text-decoration-none" href="#">tutorial C#</a>
            </li>
            <li>
                <a class="text-decoration-none" href="#">tutorial php</a>
            </li>
        </ol>
    </h4>
</div>